/*homepage css*/

@media screen and (max-width: 425px){
  .signup {
    text-align: left;
    padding-left: 8px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.div-anchor {
  display: block;
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  height: 50px;
  width: 100%;
  background: deepskyblue;
  justify-content: space-between;
  color: white;
  line-height: 50px;
  z-index: 100;
}

.nav-title {
  font-family: "Patua One", Arial;
  font-size: 2em;
  font-weight: bold;
  margin-left: 20px;
}

.navbar .right {
  display: flex;
  background: salmon;
  justify-content: space-around;
  width: 20%;
  text-align: center;
  font-family: 'Asap', Arial;
}

.login {
  background: #C1D42F;
  width: 50%;
  min-width: 50px;
}

.signup {
  background: #fcb723;
  width: 50%;
  min-width: 100px;
}

.image-area .text-box {
  position: relative;
  width: 50%;
  height: 200px;
  left: 25%;
  top: 200px;
  display: flex;
  justify-content: center;
}

.text-box .text-area {
  text-align: center;
}

.text-area h1 {
  font-size: 3em;
  font-family: 'Patua One', Arial;
}

.text-area p {
  font-size: 1.5em;
}

.signup-button {
  height: 50px;
  width: 100px;
  background: deepskyblue;
  color: white;
  line-height: 50px;
  margin: 0 auto;
  font-family: 'Asap', Arial;
  font-size: 1.5em;
}


.main-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main-image {
  height: 700px;
  width: 50%;
}

.info-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.info-col {
  min-width: 300px;
  margin-top: 75px;
  display: flex;
  align-items: center;
  color: deepskyblue;
}

.info-col-contents {
  text-align: center;
}


.info-col-contents p{
  max-width: 300px;
  font-size: 18px;
  font-family: 'Asap', Arial;
  color: deepskyblue;
  text-align: center;
}

.info-header {
  font-family: 'Patua One', Arial;
  text-align: center;
  width: 100%;
  font-size: 2.5em;
}

/*signup css, you did some inline styling too just to try it out*/

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 55px);
}

.signup-box {
  width: 25%;
  min-width: 300px;
  min-height: 300px;
  height: 33%;
  border: 2px solid black;
  border-radius: 5px;
}

.signup-form {
  text-align: center;
  margin-top: 35px;
}


#signup-submit {
  border: none;
  padding: 10px 20px !important;
  font-size: 14px !important;
  background:	deepskyblue;
  font-weight: bold;
  color: white;
}
