a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.div-anchor {
  display: block;
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  height: 50px;
  width: 100%;
  background: deepskyblue;
  justify-content: space-between;
  color: white;
  line-height: 50px;
  z-index: 100;
}

.nav-title {
  font-family: "Patua One", Arial;
  font-size: 2em;
  font-weight: bold;
  margin-left: 20px;
}

.navbar .right {
  display: flex;
  background: salmon;
  justify-content: space-around;
  width: 20%;
  text-align: center;
  font-family: 'Asap', Arial;
}

.login {
  background: #C1D42F;
  width: 50%;
}

.signup {
  background: #fcb723;
  width: 50%;
  overflow: hidden;
}

.image-area .text-box {
  position: relative;
  width: 50%;
  height: 200px;
  left: 25%;
  top: 200px;
  display: flex;
  justify-content: center;
}

.text-box .text-area {
  text-align: center;
}

.text-area h1 {
  font-size: 3em;
  font-family: 'Patua One', Arial;
}

.text-area p {
  font-size: 1.5em;
}

.signup-button {
  height: 50px;
  width: 100px;
  background: deepskyblue;
  color: white;
  line-height: 50px;
  margin: 0 auto;
  font-family: 'Asap', Arial;
  font-size: 1.5em;
}


.main-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main-image {
  height: 700px;
  width: 50%;
}

.info-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 700px;
  width: 100%;
  background-color: salmon;
}

.info-col {
  border: 2px solid black;
  min-width: 300px;
  height: 650px;
  background: lightgreen;
  display: flex;
  align-items: center;
}

.info-col-contents {
  margin: 0 auto;
}

.info-header {
  text-align: center;
  width: 100%;
}

.icon {
  margin-left: 30%;
}
